.cardsWrapper {
    border: 1px solid black;
    border-radius: 5px;
}

.productsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .productsItem {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
  }
  
  .productItemImage {
    max-height: 170px;
  
  }
  .productItemName {
    text-align: center;
  }
  
  .productItemDescription, .productItemPrice {
    text-indent: 10px;
    width: 90%;
  }
  
  .cartbutton {
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px;
  }